In [1]:
print('hello')

hello

# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple 
2. git add . / git add.
3. message / massage

In [2]:
# 주석을 나타냅니다. (command + /)

# 1. 변수

변수 이름 = 값

- 변수 이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용해 선언
- 키워드는 사용불가

In [3]:
a = 10

In [4]:
a

10

In [5]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [6]:
a = 1000000

In [7]:
a

1000000

In [8]:
type(a)

int

In [10]:
b = 1.1

In [11]:
b

1.1

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [15]:
type(c)

complex

In [16]:
c.imag

-4.0

In [17]:
c.real

1.0

### 1.2 Boolean

True , False 로 이루어진 타입

In [18]:
a = True

In [19]:
type(a)

bool

In [20]:
b = False

In [21]:
type(b)

bool

In [25]:
bool([1])

True

### 1.3 None

In [26]:
a = None

In [27]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'` `"` 를 이용하여 표현

In [28]:
a = 'hello'

In [29]:
type(a)

str

In [31]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [33]:
print('안녕하세요 '박예주'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1576184712.py, line 1)

In [34]:
print('안녕하세요 "박예주"입니다.')

안녕하세요 "박예주"입니다.

In [35]:
print("안녕하세요 '박예주'입니다.")

안녕하세요 '박예주'입니다.

In [38]:
print('안녕하세요 \'박예주\'입니다.')  # \:escape

안녕하세요 '박예주'입니다.

In [39]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.
'''

In [40]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.

In [44]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다') # n : new line    # t : tap

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다

In [46]:
print('하나', '둘', '셋', end='!')

하나 둘 셋!

In [48]:
print('하나', '둘', '셋', sep='!')

하나!둘!셋

In [49]:
print('하나', '둘', '셋', sep='\t')

하나	둘	셋

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [50]:
age = 20

In [54]:
print('홍길동은 %s 살입니다.' % age)   #1

홍길동은 20 살입니다.

In [55]:
print('홍길동은 {} 살입니다.' .format(age))   #2

홍길동은 20 살입니다.

In [56]:
print(f'홍길동은 {age}살입니다.')    #3

홍길동은 20살입니다.

## 2. 연산자

### 2.1 산술연산자

In [3]:
a = 2
b = 3

In [4]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a**b)

5
-1
6
0.6666666666666666
8

In [9]:
print(a // b)   # 몫 출력
print(a % b)    # 나머지 출력
print(divmod(a,b))   # 몫, 나머지 한번에 출력

0
2
(0, 2)

### 2.2 비교연산자

In [10]:
a = 5
b = 10

In [12]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [14]:
print(a == b)   # 같으면 True
print(a != b)   # 다르면 True

False
True

In [15]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True 일때, True를 반환
- or : 양쪽 모두 False 일때, False를 반환
- not : 값을 반대로 전환

In [17]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [18]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [20]:
print(True)
print(not True)

True
False

In [22]:
# 단축평가 (and)

print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [23]:
# 단축평가 (or)

print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.4 복합연산자

In [28]:
a = 1
b = 2

In [29]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [32]:
a += b   # 축약본
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

4

### 2.5 기타연산자

In [33]:
a = 'hi'
b = 'hello'

In [35]:
# concatenation 연결

a + b

'hihello'

In [38]:
a = [1,2,3]   # [] : list
b = [4,5,6]

In [39]:
a+b

[1, 2, 3, 4, 5, 6]

In [41]:
# containment

print('a' in 'apple')
print('z' in 'apple')

True
False

In [42]:
print(1 in [1,2,3])
print(10 in [1,2,3])

True
False

In [46]:
# identity (==과 비슷하게 동작 but 값이 아닌 메모리 주소)

a = 1
b = 1
print (a is b)
print(id(a))
print(id(b))

True
4380026128
4380026128

In [48]:
a = 123123   # 256까지는 미리 같은 위치에 저장되어있음
b = 123123
print (a is b)
print(id(a))
print(id(b))

False
4612424464
4612424816

#### 우선순위

0. ()를 통해 그룹
1. ** 
2. 산술연산자 (* , /)
3. 산술연산자 (+ , -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [51]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [54]:
a = True
b = 1

In [55]:
a + b

2

In [58]:
a = True
b = False
c = 1

In [59]:
print(a+c)
print(b+c)

2
1

In [60]:
int_num = 3
float_num = 3.3
complex_num = 1 +3j

In [62]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float 를 int 로 변환
- float() : string, int 를 float 로 변환
- str() : int, float 등을 string 으로 변환
- bool() : int, list 등을 boolean 으로 변환

In [63]:
a = 1
b = '번'

In [65]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
print(str(a) + b)

1번

In [67]:
a = '3'

In [68]:
int(a)

3

In [69]:
type(int(a))

int

In [70]:
a = '3.3'

In [71]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [72]:
type(float(a))

float

In [73]:
a = 1
b = 0

In [74]:
bool(a)

True

In [75]:
bool(b)

False

In [77]:
print(bool([]))
print(bool([1,2,3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것을 정렬된 것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List (배열)

- 선언 : 변수 이름 = [value1, value2, value3 ...]
- 접근 : 변수 이름[index]
- 수정가능 (mutable)

In [78]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [84]:
location = ['서울','대구','대전']
print(location)
print(location[0])
print(location[1])
print(location[2])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
서울
대구
대전
['서울', '부산', '대전']

### 4.2 Tuple

- 선언 : 변수 이름 = (value1, value2, value3)
- 접근 : 변수 이름[index]
- list와 유사하지만 수정 불가능(immutable) 하다.

In [83]:
t = (1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [85]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [87]:
x, y = 1, 2
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [88]:
a = range(1)
print(type(a))

<class 'range'>

In [90]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [92]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [97]:
# 음수

a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [106]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_range = range(1, 100)
my_string = '12345'

In [104]:
# indexing : 내가 원하는 값 하나에 접근

print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [105]:
# slicing : 여기서부터 여기까지 출력

print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [111]:
# slicing (k 간격으로)

print(my_range[2:50:2])
list(my_range[2:6:2])

range(3, 51, 2)

[3, 5]

In [113]:
# in keyword

print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [114]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [116]:
# concatenation

print(my_list + [1,2,3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [118]:
# *

print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [120]:
print(len(my_list))    # len : length

5

In [121]:
print(min(my_list))     # min : minimum

1

In [122]:
print(max(my_list))     # max : maximum

5

In [124]:
my_list.count(1)        # count : 내가 원하는 숫자가 몇 번 등장하는지

1

## 5. 시퀀스 데이터가 아닌 자료구조


### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [126]:
my_set_a = {1,2,3,4,5}
my_set_b = {3,4,5,6,7}

In [130]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [135]:
my_list = [1,1,1,1,1,1,1,1,2,3,4,5,6,7]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져 있다.
- key에는 immutable한 모든 것 사용가능 (불변값: string, integer...)
- value에는 모든 데이터 가능 (list, dictionary도 가능)

In [139]:
my_dict = {'서울': '02', '경기도': '031'}
my_dict['서울']

'02'

In [140]:
dict_a = {
    'name': 'parkyeju',
    'location': 'daegu',
    'location': 'daegu2',
}

In [141]:
print(dict_a)

{'name': 'parkyeju', 'location': 'daegu2'}

In [142]:
dict_a.keys()

dict_keys(['name', 'location'])

In [143]:
dict_a.values()

dict_values(['parkyeju', 'daegu2'])

# 데이터 타입 

1. Number
2. Boolean
3. String


# 자료구조

- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable


- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable