# 제어문

## 조건문 (if)
1. `if` 문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)

2-1. `<조건식>` 이 참인 경우 `:` 이후의 문장을 실행한다.

2-2. `<조건식>` 이 거짓인 경우 `else:` 이후의 문장을 실행한다.

    if <조건식>:
        if 의 조건식이 참인 경우 실행하는 코드
    else:
        if 의 조건식이 거짓인 경우 실행하는 코드

In [3]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [4]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [4]:
num = input('숫자를 입력해주세요')
print(num)
print(type(num))
num = int(num)

숫자를 입력해주세요 123

123
<class 'str'>

In [5]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별

if (num % 2) == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

홀수입니다.

In [6]:
if (num % 2) == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

In [8]:
# num을 2로 나눈 나머지는 0,1 두가지 경우가 있다.
# if문의 조건식에 0,1은 자동형변환이 일어나 False,True로 전환된다.

if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

### elif

```
if <조건식>:
    if 조건이 참인경우 실행
elif <조건식>:
    elif 조건이 참인경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [26]:
score = int(input())

 95

In [30]:
# 90점 이상 A (95점 이상 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F


if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참잘했어요

## 조건표현식

```
true_value if <조건식> else false_value
```

In [31]:
print('True') if 1>0 else print('False')

True

In [32]:
print('True') if 1<0 else print('False')

False

In [33]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [39]:
num = 5
value = num if num >=0 else 0
print(value)

5

In [40]:
num = 5
if num >= 0:
    value = num
else:
    value = 0
print(value)

5

In [41]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

In [44]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 반복문

## while 문

```
while <조건식>:
    실행할 코드
```

In [2]:
a = 0

while a < 5:
    print(a)
    a += 1       # a = a+1

0
1
2
3
4

In [4]:
# 사용자가 '안녕' 이라고 할때까지 계속 입력을 요청받는 코드

greeting = ''     # 초기화

while greeting != '안녕':
    greeting = input('안녕이라고해줘 : ')

안녕이라고해줘 :  메롱
안녕이라고해줘 :  하이
안녕이라고해줘 :  헬로우
안녕이라고해줘 :  싫은데
안녕이라고해줘 :  안녕

## for

정해진 범위 내의 반복


```
for variable in sequence:
    code
```

In [5]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [6]:
# for 문을 사용해 사용자가 입력한 데이터를 한글자씩 출력하는 코드

word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  apple

a
p
p
l
e

In [11]:
for i in range(5):           # range
    print(i)

0
1
2
3
4

In [10]:
for i in (1,2,3,4,5):        # Tuple
    print(i)

1
2
3
4
5

In [24]:
# 1. 1~30까지 숫자 중에서 홀수 출력
# 2. 1~30까지 숫자 중에서 홀수들을 모아 리스트로 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        # print(number)
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [31]:
menus = ['샌드위치', '김밥', '쿠키']

for menu in enumerate(menus):
    print(menu[0])
    print(menu[1])

0
샌드위치
1
김밥
2
쿠키

In [29]:
enumerate(menus)

In [34]:
menus = ['샌드위치', '김밥', '쿠키']

for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
샌드위치
1
김밥
2
쿠키

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [38]:
info = {
    'name': 'pyj',
    'location': 'dg',
    'phone': '010-1234-1234',
}

In [39]:
for i in info:
    print(i)
    print(info[i])

name
pyj
location
dg
phone
010-1234-1234

In [40]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [42]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [43]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [46]:
result = 0

for value in blood_type.values():
    result = result + value
print(f'총 인원은 {result}명입니다.')

총 인원은 14명입니다.

In [49]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [48]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break

반복문을 종료시키는 키워드

In [51]:
for i in range(100):
    if i > 10:
        print('10넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10넘었어

In [52]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리']

In [55]:
for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [58]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [59]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    print('성인입니다')

성인입니다
성인입니다
성인입니다

### else

else 문은 끝까지 반복이 진행된 후 실행됩니다.

In [62]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [63]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5

In [65]:
numbers = [1,3,5,7,9]
print(3 in numbers)
print(2 in numbers)

True
False

In [81]:
# 내가 한 거
numbers = [1,3,5,7,9]

for number in numbers:
    if number == 3:
        print('True')
    if number == 2:
        print('True')
else:
    print('False')

True
False

In [83]:
numbers = [1,3,5,7,9]
target = 4

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 True
    if number == target:
        print('True')
        break
else:
    print('False')

False

### pass
class, 함수 구조 먼저 잡을때 사용

In [84]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [86]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not Found')
    case _:
        print('something is wrong')

Not Found